#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.tmp
*.dat
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

# Ignore nuget packages
packages/

# Ignore Nuget packages Kentico content files
# kentico.languagepack.english
ComponentBoilerplate/CMSResources/*
# kentico.aspnet.mvc
ComponentBoilerplate/App_Data/Global/Resources/Kentico.*
ComponentBoilerplate/Kentico/*

# Web farm files
ComponentBoilerplate/App_Data/CMSModules/WebFarm/*.sync

# app config and connection string configuration
ComponentBoilerplate/ConnectionStrings.config
ComponentBoilerplate/AppSettings.config
ComponentBoilerplate/web.Debug.config
ComponentBoilerplate/web.Release.config

# ignore files imported by Kentico.AspNet.MvcDevelopmentSite package
ComponentBoilerplate/App_Start/ApplicationConfig.cs
ComponentBoilerplate/App_Start/BundleConfig.cs
ComponentBoilerplate/App_Start/RouteConfig.cs
ComponentBoilerplate/Views/_ViewStart.cshtml
ComponentBoilerplate/Views/Home/Index.cshtml
ComponentBoilerplate/Views/Shared/_Layout.cshtml
ComponentBoilerplate/Views/web.config
ComponentBoilerplate/web.config
ComponentBoilerplate/Global.asax
