@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Kentico.PageBuilder.Web.Mvc
@using MyCompany.Components.Models

@model ComponentViewModel<ImageWidgetProperties>
@inject IPageBuilderDataContextRetriever pageBuilderContext

@{
    var inlineEditorModel = new ImageWidgetViewModel
    {
        ImageUrl = Model.Properties.ImageUrl,
    };

    var imageUrl = string.IsNullOrWhiteSpace(Model.Properties.ImageUrl) ? inlineEditorModel.PlaceholderUrl : Model.Properties.ImageUrl;
}

<div>
    <img src="@imageUrl" />
    @if (pageBuilderContext.Retrieve().EditMode)
    {
        <partial name="~/Components/InlineEditors/_ImageUrl.cshtml" model="inlineEditorModel" />
    }
</div>
