@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Kentico.PageBuilder.Web.Mvc
@using MyCompany.Components

@model ImageWidgetViewModel

@inject IPageBuilderDataContextRetriever pageBuilderContext

@{ 
    var imageUrl = string.IsNullOrWhiteSpace(Model.ImageUrl) ? Model.PlaceholderUrl : Model.ImageUrl;
}

<div>
    <img src="@imageUrl" />
    @if (pageBuilderContext.Retrieve().EditMode)
    {
        <partial name="~/Components/InlineEditors/_ImageUrl.cshtml" model="Model" />
    }
</div>
