@using Kentico.ComponentBoilerplate.Models.InlineEditors
@using Kentico.ComponentBoilerplate.Models.Widgets


@model string

@{
    var widgetId = "text-area-widget-" + Guid.NewGuid().ToString();
}

<div id="@widgetId" class="kentico-componentboilerplate-text-area-widget">
    <h2>Sample text area widget</h2>
    <div class="content">@Model</div>
    <button class="btn-display-content">Display content</button>
    @if (Context.Kentico().PageBuilder().EditMode)
    {
        Html.RenderPartial("InlineEditors/_TextAreaInlineEditor", new TextAreaInlineEditorModel
        {
            @* Use the nameof() operator to get the name of the widget property from the widget properties model *@
            PropertyName = nameof(TextAreaWidgetProperties.Content),
            PropertyValue = Model
        });
    }
</div>

<script type="text/javascript">
    (function () {
        if (document.readyState === "loading") {
            document.addEventListener("DOMContentLoaded", function () {
                window.developmentsite.registerTextAreaWidgetEvents("@widgetId")
            });
        } else {
            window.developmentsite.registerTextAreaWidgetEvents("@widgetId")
        }
    })();
</script>