.kentico-componentboilerplate-text-area-widget {
    background-color: silver;
    padding: .5em;
    margin: .5em;
}

kentico-componentboilerplate-text-area-widget div.content {
    background: white;
    width: 50%;
    min-height: 50px;
    margin: 1em;
}