@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

<div class="kentico-componentboilerplate-two-columns-section">
    <div style="flex-grow: 1;">
        @Html.Kentico().WidgetZone()
    </div>
    <div style="flex-grow: 1;">
        @Html.Kentico().WidgetZone()
    </div>
</div>