@using Kentico.ComponentBoilerplate.Models.FormComponents
@using Kentico.Forms.Web.Mvc

@model LongTextCharacterCountFormComponent

@{
    var htmlAttributes = ViewData.GetEditorHtmlAttributes();
    var componentId = Html.IdFor(m => m.Value) + "_component";
}

<div id="@componentId" class="kentico-componentboilerplate-long-text-character-count-component">
    @Html.TextAreaFor(m => m.Value, htmlAttributes)
    <span class="character-count">0</span>
</div>

<script type="text/javascript">
    (function () {
        if (document.readyState === "loading") {
            document.addEventListener("DOMContentLoaded", function () {
                window.developmentsite.registerLongTextCharacterCountFormComponentEvents("@componentId")
            });
        } else {
            window.developmentsite.registerLongTextCharacterCountFormComponentEvents("@componentId")
        }
    })();
</script>